﻿@model IEnumerable<Pokemon.Models.PokemonSet>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
              @*  @Html.DisplayNameFor(model => model.series)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.totalCards)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.releaseDate)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.series)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.totalCards)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.releaseDate)
            </td>
            <td>
                @Html.ActionLink("Show Set", "Set", new { set = item.code}) 
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
