﻿@model IEnumerable<Pokemon.Models.Card>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Show</title>
    <link href="@Url.Content("~/Content/css/style.css")" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sansita" rel="stylesheet">
</head>
<body>
    <main>
    @foreach (var item in Model)
    {
        <figure>
            <img src="@item.imageUrl" alt="" />
            <figcaption>@item.name</figcaption>
        </figure>
    }
    </main>
</body>
</html>
