﻿body {
    background-color: brown;
    width: 100%;
}

figcaption {
    font-size: 20px;
    font-family: 'Sansita', sans-serif;
    padding: 0.4em 0;
    color: #fff;
}

figure {
    background-color: lightsalmon;
    margin: 2px;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid;
}

img {
    height: 342px;
    width: 245px;
}

